  <div class="container">
    <div id="screen" class="aboutscreen">
        <header class="clearfix">
	      <div id="actions">
	        <a href="/my_hikes" class="action" id="action-home">home</a>
	        <a href="/sort" class="action" id="action-sort">sort</a>
	        <a href="/filter" class="action" id="action-filter">filter</a>
	        <a href="/about" class="action" id="action-question">question</a>
	      </div>
	      <div id="day-of-week">Sunday</div>
	      <div id="date">26 Jan 2014</div>
	    </header>
	    <div class="bluecontainer">
	    	<p>FAQ</p>
	    	<div id="faqs">
	    		<ul>
        			<a href=""><li>What is the Fresh Hikes Finder?</li></a>
        			<a href=""><li>That big number on the bottom left of the hike cards - what does it mean and how is it calculated?</li></a>
        			<a href=""><li> The different colours of the hike cards - what do they mean?</li></a>
					<a href=""><li>Where are you getting your hiking route data from?</li></a>
					<a href=""><li>I've seen a few 'coming soons' around the app. Psst - what other features are coming soon?</li></a>
	    		</ul>	
	    	</div>
	    </div>
    </div>
  </div>
