<div class="container">
	<div class="hidescroll">
	  <div class="innerscreen hikemodescreen">
	  	<header class="clearfix">
          <div id="page-title-wrapper">
            <div id="page-title" class="hikemodescreen"><%= @my_hike.trail %></div>
            <a href="/my_hikes/<%= @my_hike.id %>" class="topnav" id="topnav-left">left</a>
          </div>
	  	</header>
	  	<main>
			<div class="map" id="hikemodemap">
	            <iframe width="280px" height="455px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
	            src="<%= @map_url %>">
	            </iframe>
	          </div>
	    </main>
	  </div>
	</div>
</div>