  <div class="container">
    <div class="screen sortscreen">
    	<header class="clearfix">
	      <div class="actions">
	        <a href="/my_hikes" class="action" id="action-home">home</a>
	        <a href="/sort" class="action" id="action-sort">sort</a>
	        <a href="/filter" class="action" id="action-filter">filter</a>
	        <a href="/about" class="action" id="action-question">question</a>
	      </div>
        <a href="/"id="action-landing">
        <div id="day-of-week"><%= @date.strftime('%A') %></div>
        <div id="date"><%= @date.strftime('%d %b %Y') %></div>
        </a>
	    </header>
        <div class="bluecontainer">
        	<p><span class="comingsoon">(Coming soon)</span> <br> To sort the hikes another way, <br> click on the field, then click GO! </p>
        	<div id="sortfields">
        		<ul>
        			<a href=""><li>Distance</li></a>
        			<a href=""><li>Elevation</li></a>
                    <a href=""><li>Duration (best time)</li></a>
        			<a href=""><li class="comingsoon">Weekly favourite  <br> (Coming soon)</li></a>
        		</ul>
        	</div>
        	<div id="go">
        		<a href="">
        		<p>GO!</p>
        		</a>
        	</div>
        </div>
    </div>
  </div>