/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*98D400*/
 /*39B54A*/

@font-face {
    font-family: 'Miso';
    src: url('/assets/miso-light.eot');
    src: url('/assets/miso-light.eot?#iefix'),
         url('/assets/miso-light.woff') format('woff'),
         url('/assets/miso-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background-image: url("nexus.png");
  background-repeat: no-repeat;
  background-position: center 40px;
  color: white;
}

.container {
    font-family: 'Miso';
    width: 400px;
    height: 700px;
    margin: 0 auto;
    margin-top: 97px;
    overflow: hidden;
}


.innerscreen {
    width: 308px;
    height: 527px;
    margin: 0 auto;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 12px;
    padding-bottom: 0px;
    overflow-y: scroll;
    margin-left: -2px;
    padding-right: 24px;
    }


.hidescroll {
  width: 296px;
  height: 527px;
  margin: 0 auto;
  overflow: hidden;
}



.screen {
    width: 298px;
    height: 529px;
    margin: 0 auto;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 12px;
    overflow-y: scroll;
    margin-left: 50px;
    }


.landingscreen.screen,
.filterscreen.screen,
.sortscreen.screen,
.aboutscreen.screen {
  overflow-y: hidden;
}

.landingscreen.screen {
  padding: 0px;
}



.clearfix:after {  
  content: "";  
  display: block;  
  clear: both;  
  visibility: hidden;  
  font-size: 0;  
  height: 0;  
} 

/* HEADER */
header {
  position: relative;
}

header .actions {
  float: right;
  margin-top: -17px;

}

header .actions .action {
  display: inline-block;
  text-indent: -9999px;
  width: 40px;
  height: 51px;
  background-color: #3C4547;
  border-radius: 4px;
  background-size: cover;
  margin: 2px;
  box-shadow: 2px 2px 4px #7d7d7d; 
  border-right: 2px solid #9c9c9c;
  border-bottom: 2px solid #9c9c9c;
}

header .actions #action-home           
  { 
    background-image: url('iconhome.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 5px;
  }
header .actions #action-filter         
  { 
    background-image: url('filter.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
header .actions #action-sort         
  { 
    background-image: url('sort.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position: bottom;
  }
header .actions #action-question       
  { 
    background-image: url('question.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
  }
header .actions #action-question:hover,
header .actions #action-home:hover,     
header .actions #action-filter:hover,   
header .actions #action-sort:hover   
  { 
    background-color: #3fa7c4; 
  }

header #day-of-week {
  font-size: 22px;
  color: #4D4D4D;
}

header #date {
  color: #4D4D4D;
  font-size: 16px;
  margin-top: 4px;
}

header #page-title-wrapper {
  height: 32px;
  margin-top: -1px;
}

header #page-title-wrapper #page-title {
  position: absolute;
  margin: 0 auto;
  width: 185px;
  left: 43px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #4D4D4D;
}

header #page-title-wrapper #page-title .star {
  background-image: url('white-star.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 18px;
  bottom: 2px;
}

header #page-title-wrapper .topnav {
  display: inline-block;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  /*background-color: #CCCCCC;*/
  border-radius: 4px;
  background-size: cover;
  position: absolute;
  top: 0px;
}

header #page-title-wrapper #topnav-left {
  background-image: url('backbutton1.png');
  left: 0px;
  top: -1px;
}

header #page-title-wrapper #topnav-play {
  background-image: url('fullscreen.png');
  right: -4px;
  top: -1px;
}

header .hikemodescreen #page-title-wrapper #page-title {
  text-align: right;
}

.innerscreen.hikemodescreen {
  padding-bottom: 0px;
}



/* ROUTES */
main #routes .route-wrapper {
  background-color: #dcdcdc;
  border-radius: 4px;
  height: 132px;
  padding: 4px;
  color: white;
  margin-bottom: 12px;
  box-shadow: 3px 3px 8px #7d7d7d; 
}

main #routes .route-wrapper > div:hover{
  border: 2px solid #06929F;
}


.route-wrapper .route {
  border-radius: 4px;
  height: 132px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
}

main #routes .route-wrapper .route .name {
  font-size: 20px;
  padding: 8px 5px;
  width: 165px;
  line-height: 20px;
}

main #routes .route-wrapper .districtname {
  font-size: 18px;
  color: #dedede;
}


main #routes .route-wrapper .route .freshness {
  position: absolute;
  bottom: 8px;
  left: 10px;
  font-size: 24px;
}

main #routes .route-wrapper .route .freshness span {
  font-size: 63px;
  margin-right: -8px;
}

main #routes .route-wrapper #freshnesstext {
  font-size: 20px;
}

main #routes .route-wrapper .route .blue-btn {
  background-color: #06929f;
  /*border: 3px solid #4ec5cc;*/
  border: 2px solid #01b3c3;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 4px;
  position: absolute;
  width: 57px;
  text-align: center;
  margin-top: 10px;
}

main #routes .route-wrapper .route .distance {
  font-size: 20px;
  top: 0px;
  right: 8px;
}


main #routes .route-wrapper .route .climb {
  font-size: 19px;
  top: 62px;
  right: 8px;
}

main #routes .route-wrapper .route .star {
  background-image: url('white-star.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 18px;
  bottom: 16px;
} 

main .map {
  text-align: center;
  margin-left: -4px;
}

main #hikemodemap {
  margin-left: -6px;
  margin-right: -10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


main .map iframe {
  margin-top: 15px;
  /*border: 3px solid #cccccc;*/
  border-right: 3px solid #e8e8e8;
}

main .route-details {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 4px;
  background-color: #06929F;
  color: white;
  font-size: 16px;
  height: 166px;
  width: 270px;
  padding: 15px 20px 10px 10px;
  overflow-y:scroll;
  text-align: justify;
  border-radius: 3px;
  /*text-align: justify;*/
  border: 2px solid #01b3c3;
}


main #routehidescroll {
  width: 289px;
  overflow: hidden;
  margin-left: -10px;
}


main .route-details .body .description {
  margin-bottom: 12px;
  width: 260px;
}


strong {
  color: #d9d9d9;
  font-size: 17px;
  text-transform: uppercase;
  /*color: #a1a1a1;*/
}

main #routes .route-wrapper .route .metalabels {
  font-size: 13px;
  padding-top: -14px;
  color: #ecedea;
}



main .meta {
  width: 294px;
  height: 58px;
  margin-left: -9px;
  margin-top: -5px;
  font-family: Miso;
  /*border: 2px solid #3C4547;*/
}

.metaitem {
  float: left;
  font-family: Miso;
  text-align: center;
  width: 89px;
  height: 58px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 3px;
  border: 2px solid #dcdcdc;
}

.metaitem p {
  font-family: Miso;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.metaitem span {
  font-size: 22px;
}

.metaitem.freshness span {
  font-size: 28px;
}



.landing {
  width: 100%;
  height: 100%;
  background-size: cover;
}
#landingpage {
  background-image: url('landingpage.png');
}
#elevationgraph {
  background-image: url('elevationgraph.png');
  width: 270px;
  height: 50px;
  background-size: cover;
}

.screen#landingscreen {
  background-color: black;
  padding: 0px;
}

.comingsoon {
  color: #c1c1c1;
}

.viewhike:hover {
  color: #05659c;
}



/* MY HIKES */


.bluecontainer {
  width: 97%;
  margin: 0 auto;
  height: 89%;
  background-color: #00A9BA;
  border-radius: 10px;
  color: white;
  position: relative;
  border-left: 2px solid #7ed6ef;
  border-top: 2px solid #7ed6ef;
  box-shadow: 4px 4px 8px #7d7d7d; 
  margin-top: 0px;
}

.bluecontainer p {
  text-align: center;
  padding-top: 18px;
  margin-top: 3px;
  font-family: Miso;
  font-size: 20px;
  line-height: 22px;
}

#sortfields {
  margin: 0 auto;
  width: 85%;
  height: 67%;
  border: 2px solid white;
  border-radius: 8px;
}


#sortfields a {
  text-decoration: none;
}

#sortfields li {
  text-decoration: none;
  list-style-type: none;
  font-family: Miso;
  font-size: 22px;
  padding: 20px 1px;
  margin-left: -10px;
}

#sortfields :hover {
  color: #0055aa;
}

#go {
  width: 80px;
  height: 44px;
  background-color: white;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 13px;
  border-radius: 5px;
  border: 3px solid #5EC5C3;
  box-shadow: 2px 2px 6px #707070; 
}

#go p {
  color: #4D4D4D;
  font-size: 37px;
  margin-top: -3px
}

#go a {
  text-decoration: none;
}

#go:hover {
  color: #0055aa;
}


#filterfields {
  margin: 0 auto;
  width: 85%;
  height: 68%;
  border: 2px solid white;
  border-radius: 8px;
}

#filterfields a {
  text-decoration: none;
}

#filterfields li {
  text-decoration: none;
  list-style-type: none;
  font-family: Miso;
  font-size: 22px;
  padding: 20px 1px;
  line-height: 30px;
  margin-left: -15px;
}

#filterfields :hover {
    color: #0055aa;
}

.goarrow {
  position: absolute;
  right: 45px;
  height: 25px;
}

.aboutscreen > div > p {
  font-size: 30px;
}

.aboutscreen .bluecontainer {
  width: 276px;
  overflow-y: scroll;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-left: -2px;
  padding-right: 10px;
}

.aboutscreen #outercontainer {
  width: 270px;
  height: 100%;
  overflow: hidden;
  margin-left: 3px;
}

#faqs {
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid white;
  margin-top: -16px;
}

#faqs dt {
  font-family: Miso;
  font-size: 18px;
  margin-top: 20px;
  line-height: 21px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid white;
  padding: 3px 7px;
  border-radius: 3px;
}

#faqs dd {
  font-size: 18px;
  margin-left: 6px;
  padding-top: 15px;
  margin-bottom: 15px;
  color: #dcfcff;
}

#faqs a {
  text-decoration: none;
}

#faqs .accordion .colorcode {
  height: 20px;
  width: 98%;
  margin-top: 4px;
  text-align: center;
  padding-top: 7px;
}

#faqs .accordion ol {
  font-family: Miso;
  font-size: 18px;
  margin-left: -20px;
}

/*layout hacks*/

.hidescroll .innerscreen #indexactions {
  margin-right: -2px;
}
