
body {
  background-color: #fff;
  color: white;
  font-family: 'Miso';
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;
  &:visited {
    color: white;
    * {
      color: white;
    }
  }
  &:hover {
    color: #0055aa;
    background-color: #3C4547;
    * {
      color: #0055aa;
    }
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

 $level-1 : #188A2B;
 $level-2 : #36B245;
 $level-3 : #60D758;
 $level-4 : #DFAB32;
 $level-5 : #DB7A2B;
 $level-6 : #C55624;
 $level-7 : #B22D1F;
 $level-8 : #7F2823;
 $level-9 : #612B1B;
$level-10 : #401C12;
$level-11 : #000000;

.aqi-level-1 {
  background-color: $level-1;
}

.aqi-level-2 {
  background-color: $level-2;
}

.aqi-level-3 {
  background-color: $level-3;
}

.aqi-level-4 {
  background-color: $level-4;
}

.aqi-level-5 {
  background-color: $level-5;
}

.aqi-level-6 {
  background-color: $level-6;
}

.aqi-level-7 {
  background-color: $level-7;
}

.aqi-level-8 {
  background-color: $level-8;
}

.aqi-level-9 {
  background-color: $level-9;
}

.aqi-level-10 {
  background-color: $level-10;
}

.aqi-level-11 {
  background-color: $level-11;
}

